@import '../variables';

.homepage {
  height: 100vh;
  display: flex;
  position: relative;

  .homepage__container {
    position: relative;
    z-index: 2;
    padding: 10rem 0 0 10rem;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .homepage__title {
      position: relative;
      font-size: 5rem;
      line-height: 1;
      z-index: 2;

      .homepage__box {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $orange;
        height: 55px;
        width: 230px;
        z-index: -1;
      }
    }

    .homepage__subtitle {
      margin-top: 1rem;
      font-size: 1.75rem;
      color: $secondary-color;
    }

    .homepage__backgroundImage {
      position: relative;
      margin-top: 3rem;
      width: 30vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      .homepage__backgroundImageBox {
        position: absolute;
        top: 4rem;
        right: -3rem;
        width: 200px;
        height: 100%;
        background-color: $orange;
        z-index: -1;
      }
    }

    form {
      position: absolute;
      right: -10rem;
      bottom: 30%;
      input {
        width: 400px;
        padding: 1.2rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
      }
      button {
        padding: 1.2rem 0;
        width: 10rem;
        font-size: 1.2rem;
        background: none;
        border: none;
        outline: none;
        background-color: $orange;
        color: $background-color;
        cursor: pointer;
      }
    }
  }
}
