@import '../variables';

.account {
  height: 100vh;
  width: 80%;
  max-width: 500px;
  .account__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .account__title {
      font-size: 2rem;
      font-weight: 400;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $secondary-color;
      margin-bottom: 1.2rem;
    }

    .account__info {
      display: flex;

      img {
        height: 80px;
      }

      .account__details {
        margin-left: 1.5rem;
        flex: 1;

        .account__detailsTitle {
          font-size: 1rem;
          font-weight: 400;
          padding: 0.9rem;
          background-color: $orange;
          color: $background-color;
          margin-bottom: 0.9rem;
        }

        .account__plans {
          h3 {
            border-bottom: 1px solid $secondary-color;
            padding-bottom: 0.5rem;
          }

          .account__signoutButton {
            background: none;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            background-color: $orange;
            color: $background-color;
            margin-top: 0.5rem;
            cursor: pointer;
            width: 100%;
          }
        }
      }
    }
  }
}
