@import '../variables';

.account {
  height: 100vh;
  .account__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .account__title {
      font-size: 2rem;
      font-weight: 400;
      border-bottom: 1px solid $primary-color;
      margin-bottom: 1.2rem;
    }

    .account__info {
      display: flex;

      img {
        height: 80px;
      }

      .account__details {
        margin-left: 1.5rem;
        flex: 1;

        .account__detailsTitle {
          font-size: 1rem;
          font-weight: 400;
          padding: 1rem;
        }

        .account__plans {
        }
      }
    }
  }
}
