@import '../variables';

.how__article {
  border: 1px solid $secondary-color;
  margin: 1rem 1rem;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  width: 33%;
  max-width: 300px;
  background-color: #fff;
  position: relative;

  .how__boxTop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: $orange;
  }

  .how__top {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .how__articleTitle {
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    .how__articleDescription {
      font-size: 0.75rem;
      text-align: center;
    }
  }

  .how__articlePriceInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    .how__articlePrice {
      font-size: 2.4rem;
      display: flex;
      align-items: center;
      font-weight: 600;
      .how__articlePriceSymbol {
        font-weight: 800;
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }

  .how__articleWeek {
    color: $secondary-color;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .how__articlePoints {
    .how__pointsUl {
      list-style: none;
      font-size: 0.9rem;

      .how__pointLi {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
          color: $orange;
          font-size: 1.4rem;
          margin-right: 0.2rem;
        }
      }
    }
  }

  .how__button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    border: 1px solid $orange;
    color: $orange;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.popular {
  padding: 2rem 1rem;
  height: 500px;

  .how__popular {
    color: $background-color;
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
  }

  .how__articlePrice {
    color: $orange;

    .how__articlePriceSymbol {
      color: $primary-color;
    }
  }

  .how__button {
    background-color: $orange;
    color: $background-color;
  }
}
