@import '../variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .navbar__container {
    display: flex;
    height: 6rem;

    .navbar__leftContainer {
      flex: 0.6;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .navbar__logoContainer {
        display: flex;
        align-items: center;
        white-space: nowrap;

        img {
          height: 1.75rem;
          width: 1.75rem;
          cursor: pointer;
        }

        .navbar__logoText {
          margin-left: 0.5rem;
          font-weight: 800;
          font-size: 1.75rem;
          cursor: pointer;
        }
      }
      .navbar__menu {
        white-space: nowrap;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          margin-right: 2rem;
          font-size: 1.2rem;
          font-weight: 700;
          cursor: pointer;

          &:first-child {
            margin-left: 4rem;
          }
        }

        .navbar__menuAccount {
          background-color: $orange;
          color: $background-color;
          padding: 0.5rem 1rem;
        }

        .navbar__menuAccountUser {
          background-color: $orange;
          color: $background-color;
          padding: 0.5rem 1rem;
          position: relative;

          .navbar__menuDropdown {
            display: none;
          }

          &:hover.navbar__menuAccountUser {
            transition: all 0.3s ease;

            .navbar__menuDropdown {
              background-color: $orange;
              color: $background-color;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              list-style: none;

              li {
                margin-left: 0;
                margin-right: 0;
                padding: 0.5rem 1rem;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }

    .navbar__space {
      flex: 0.4;
    }
  }
}
