@import '../variables';

.plans {
  .plans__plan {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    button {
      background: none;
      border: none;
      outline: none;
      background-color: $orange;
      color: $background-color;
      cursor: pointer;
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
    }
  }
}
