@import 'variables';

html {
  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
}
